*.pdf
*.md
/HW01/*.h
/HW02/*.h
/HW03/*.h
/HW04/*.h
/HW05/*.h
/HW06/*.h
/HW07/*.h
/HW08/*.h
/HW09/*.h
*.png
*.sh
*.err
*.out
*.txt
/HW09/convolve.cpp

/lec
/course_info
/writeup
/helpers

.DS_Store

plot_task1.py
plot.py

/FinalProject/serial_miner/serial.dSYM